@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.shadow {
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  display: none;
}

.logo {
  position: relative;
  z-index: 1;
  height: 64px;
}

.logo-header {
  display: block;
}

.page-header {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
}

.page-header-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 0 70px;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.navigation-list {
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 64px;
  padding: 0 0 0 46px;
  gap: 32px;
}

.navigation-link-current {
  border-bottom: 2px solid rgba(117, 98, 87, 1);
}

.user-navigation {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  margin: 0;
  gap: 26px;
}

.navigation-list.user-navigation {
  display: grid;
  grid-template-columns: 44px 44px 180px;
  grid-template-rows: 64px;
  padding: 0;
}

.navigation-item {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-link {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.favorites-count {
  display: block;
  position: absolute;
  background-color: rgba(125, 181, 79, 1);
  border-radius: 50%;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  min-width: 20px;
  width: 20px;
  height: 20px;
  top: 35%;
  left: 69%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.user-navigation .navigation-link {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0;
}

.button {
  background: rgba(117, 97, 87, 1);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation-item {
  margin: 0;
  justify-content: center;
  align-items: center;
}

.button.navigation-item-link-button:hover,
.button.button-all-hotel:hover,
.button.button-brown:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button.navigation-item-link-button:focus,
.button.button-all-hotel:focus,
.button.button-brown:focus {
  background-color: rgba(97, 80, 72, 1);
}

.button.navigation-item-link-button:active,
.button.button-all-hotel:active,
.button.button-brown:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button.navigation-item-link-button {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 34px;
}

.main-container {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-block {
  background-image: url(../images/index-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 51px 371px 82px 371px;
  position: relative;
  height: 100%;
}

.logo-welcome {
  display: block;
  width: auto;
}

.hero-divider {
  position: absolute;
  bottom: 0;
}

.info-container {
  width: 1200px;
  height: 261px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 485px;
  margin-bottom: 21px;
  gap: 25px;
}

.info-title {
  display: block;
  font-family: "PT Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.info-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
  padding: 0;
  margin: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 385px 385px 385px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark-blue {
  background: rgba(130, 179, 211, 1);
}

.blue {
  background: rgba(131, 179, 211, 0.2);
}

.light-blue {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.advantages-title {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.rectangle.white {
  background: rgba(255, 255, 255, 0.3);
}

.rectangle.gray {
  background: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-1 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.advantages-item-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.services-info {
  padding: 64px auto;
}

.services-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  gap: 20px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.services-info-title {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.sercices-description-info {
  text-transform: none;
  font-size: 22px;
  line-height: 26px;
  color: rgba(51, 51, 51, 1);
  margin: 0;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 385px;
  padding: 0;
  margin: 0;
}

.services-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.services-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 30px;
  margin-bottom: 81px;
}

.services-icon {
  margin: 0;
}

.services-title {
  font-family: "PT Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.services-description {
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.appointment {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
}

.appointment-text-container {
  display: block;
}

.appointment-title {
  font-family: "PT Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.appointment-description {
  font-family: "PT Sans", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
}

.button.button-all-hotel {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.subscription {
  background-image: url(../images/subscribe.jpg);
  text-align: center;
  margin: 0;
  padding: 96px 258px 104px 258px;
}

.subscription-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.subscription-title {
  font-family: "PT Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  color: rgba(255, 255, 255, 1);
}

.subscription-description {
  font-family: "PT Sans", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  color: rgba(255, 255, 255, 1);
}

.subscription-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 54px;
}

.subscription-form {
  display: flex;
  border-radius: 4px;
  width: 100%;
  outline: none;
  border: none;
}

.button.subscription-button {
  display: block;
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: rgba(130, 179, 211, 1);
  border: none;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  outline: none;
}

.button.subscription-button:hover,
.button.blue-submit:hover,
.button.button-blue:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button.subscription-button:focus,
.button.blue-submit:focus,
.button.button-blue:focus {
  background-color: rgba(104, 162, 202, 1);
}

.button.subscription-button:active,
.button.blue-submit:active,
.button.button-blue:active {
  background-color: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.3);
}

input[type="email" i] {
  display: block;
  padding: 14px 0 14px 20px;
  background-color: rgba(242, 242, 242, 1);
  width: 100%;
  border-radius: 4px 0 0 4px;
  outline: none;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.email {
  width: 100%;
}

.inner-header {
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.inner-header {
  color: rgba(255, 255, 255, 1);
  padding: 0;
  margin: 0;
  background-image: url(../images/filter-background.jpg);
  width: 100%;
  height: 412px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.main-inner,
.page-footer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.filter {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: left;
  padding: 35px 70px 70px 70px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  padding: 0;
  gap: 10px;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.filter-container {
  display: flex;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 150px;
}

.catalog-group-type {
  display: flex;
  gap: 70px;
}

.catalog-filter-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.catalog-filter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  margin-bottom: 32px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0;
}

.control-input {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  margin-right: 16px;
  outline: none;
  border: none;
}

input[type="radio" i] {
  outline: none;
  border: none;
}

.control {
  display: flex;
  border-radius: 50%;
}

.catalog-filter-group.price {
  display: flex;
  flex-direction: row;
}

.catalog-filter-price-button {
  display: flex;
  gap: 70px;
  align-items: flex-start;
}

.range-price-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.value-price-list {
  width: 288px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  gap: 36px 2px;
}

.value-price-item:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.value-price-label {
  display: flex;
}

.value-price-label.price-label-number {
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}

.price-label-number.left {
  border-radius: 4px 0 0 4px;
}

.price-label-number.right {
  border-radius: 0 4px 4px 0;
}

.value-price-input {
  display: block;
  width: 100%;
}

.price-input-number {
  padding: 12px 20px;
  color: rgba(0, 0, 0);
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.value-price-text {
  color: rgba(229, 229, 229, 1);
  padding: 12px 20px;
}

.button-submit-filter {
  list-style-type: none;
  display: grid;
  grid-template-columns: 191px;
  grid-template-rows: 36px 36px;
  padding: 0;
  gap: 32px;
  margin: 0;
}

.blue-submit {
  width: 100%;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  outline: 0;
  border: 0;
  background-color: rgba(130, 179, 211, 1);
}

.button-reset {
  width: 100%;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  outline: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 0;
}

button.button-reset:hover {
  color: rgba(255, 255, 255, 0.5);
}

button.button-reset:focus {
  border: 3px solid rgba(131, 179, 211, 1);
}

button.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.sort {
  max-width: 1060px;
  margin: 50px 70px 40px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.search-result {
  display: block;
  align-items: center;
  padding: 0;
  font-family: "PT Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: auto 0;
  margin-right: 200px;
}

.select-control {
  display: block;
  border-radius: 4px;
  border-color: rgba(229, 229, 229, 1);
  padding: 11px 16px;
  line-height: 0;
  width: 292px;
  font-size: 18px;
  color: rgba(51, 51, 51, 1);
  font-family: "PT Sans", sans-serif;

  font-style: normal;
  margin-right: 70px;
  height: 49px;
  box-sizing: border-box;
}

.select-control:hover {
  border-color: rgba(104, 162, 202, 1);
}

.select-control:hover {
  border-color: rgba(104, 162, 202, 1);
}

.select-control:hover {
  border-color: rgba(104, 162, 202, 1);
}

.view-container {
  display: flex;
  align-items: flex-start;
}

.view-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-width: 160px;
  margin-left: auto;
  align-items: center;
}

.view-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-item:nth-child(1) .button-change-view {
  border-color: rgb(0, 0, 0);
}

.button-change-view {
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 4px;
  margin: 0;
  padding: 15px 14px;
  line-height: 0;
  border-color: rgba(229, 229, 229, 1);
}

.button-change-view:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.button-change-view:focus {
  border: 2px solid rgba(104, 162, 202, 1);
}

.button-change-view:active {
  border: 2px solid rgba(0, 0, 0, 1);
}

.main-page-catalog {
  max-width: 1060px;
  margin: 0 auto;
}

.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 438px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  box-sizing: border-box;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
  align-items: stretch;
  padding: 20px;
}

.product-card-image {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 1);
  margin-top: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.button.button-brown,
.button.button-blue {
  padding: 8px 20px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button.button-green {
  background-color: rgba(125, 181, 79, 1);
  padding: 8px 20px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-green:hover {
  background-color: rgba(108, 158, 66, 1);
}

.button-green:focus {
  background-color: rgba(108, 158, 66, 1);
}

.button-green:active {
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button.button-brown {
  padding: 8px 26px;
}

.button-blue {
  background: rgba(130, 179, 211, 1);
}

.raiting-block {
  margin-top: 16px;
}

.raiting-info {
  padding: 8px 22px 9px 22px;
}

.product-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 16px;
  padding: 0;
}

.product-type {
  margin: 0;
  padding: 0;
}

.product-card-price {
  margin: 0;
  padding: 0;
}

.button-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 16px;
  padding: 0;
}

.button-card-item {
  margin: 0;
  padding: 0;
}

.raiting-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  padding: 0;
}

.raiting-stars {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.raiting-info {
  margin: 0;
  padding: 8px 22px 9px 22px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
}

.pagination {
  margin: 40px 0 60px 0;
  padding: 0;
}

.rectangle-catalog {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.pagination-item.current {
  background: rgba(242, 242, 242, 1);
}

.pagination-item:nth-child(5) {
  width: 60px;
  height: 60px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 1);
}

.pagination-item:nth-child(5) .pagination-link {
  color: rgb(0, 0, 0);
  background: rgba(242, 242, 242, 1);
}

.pagination-item {
  width: 60px;
  height: 60px;
  background: rgba(130, 179, 211, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-link.pagination-current {
  color: rgb(0, 0, 0);
  font-family: "PT Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-link {
  color: rgba(255, 255, 255, 1);
  font-family: "PT Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 0;
  text-decoration: none;
  display: block;
}

.pagination-item:hover {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-item:focus {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-item:active,
.pagination-item.pagination-link:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.subscription-catalog {
  text-align: center;
  margin: 0;
  padding: 96px 258px 104px 258px;
}

.subscription-catalog .subscription-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.subscription-catalog .subscription-title {
  font-family: "PT Sans", sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  color: rgba(0, 0, 0, 1);
}

.subscription-catalog .subscription-description {
  color: rgba(0, 0, 0, 1);
}

.email {
  width: 100%;
}

.page-footer {
  display: block;
  padding: 40px 70px 30px 70px;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
  padding: 5px 0;
}

.footer-social-container {
  display: grid;
  grid-template-columns: 142px;
  grid-template-rows: 40px;
}

.footer-social-list {
  list-style-type: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.footer-social-item {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-contacts {
  display: flex;
  padding: 0;
  align-items: end;
  justify-content: center;
}

.footer-contacts-address-phone {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  text-align: end;
  text-transform: uppercase;
  padding: 0;
}

.footer-contacts-address-phone:hover {
  color: rgba(117, 97, 87, 1);
}

.footer-contacts-address-phone:focus {
  color: rgba(117, 97, 87, 1);
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.footer-logo-img {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.footer-logo-img:hover {
  color: rgba(117, 97, 87, 1);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  /* display: flex; */
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: rgba(255, 255, 255, 1);
}

.search-hotel-popup {
  position: relative;
  padding: 64px 70px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
}

.popup-container {
  width: 577px;
}

.popup-title {
  padding: 0;
  margin: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.popup-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0;
  margin: 0;
}

.popup-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.popup-item.age {
  justify-content: flex-start;
}

.popup-item-title {
  padding: 12px 0;
  margin: 0;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.input-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
  border: none;
  outline: none;
  width: 440px;
}

.popup-item-adults {
  display: flex;
  flex-direction: row;
  border: none;
  outline: none;
  background-color: rgba(242, 242, 242, 1);
  margin-right: 88px;
  margin-left: 46px;
}

.popup-item-title.child-item {
  display: block;
  margin-right: 10px;
}

.popup-item-child {
  display: flex;
  flex-direction: row;
  outline: none;
  border: none;
  background-color: rgba(242, 242, 242, 1);
}

.quantity {
}

.quantity.input-item {
  width: 31px;
  margin: 0;
  padding: 14px 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.count-page-container {
  padding: 14px 10px;
  margin: 0;
}

.count {
  background-color: rgba(242, 242, 242, 1);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.count.plus {
  background-image: url(../images/plus.svg);
}

.count.minus {
  background-image: url(../images/minus.svg);
}

.blue-popup {
  background-color: rgba(130, 179, 211, 1);
  padding: 18px 0;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  border: none;
}

.explanation {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 1);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin-right: 46px;
}

.explanation-text {
  position: relative;
  display: block;
  left: 40%;
  bottom: -8%;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}
