@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: white;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

.visually-hidden {
  display: none;
}

.logo {
  position: relative;
  bottom: -5px;
  margin-left: 70px;
  z-index: 1;
}

.page-header {
  color: black;
  background-color: white;
  display: flex;
  height: 64px;
}

.page-header-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  height: 64px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  margin: 0;
  padding: 0;
  max-height: 64px;
}
.navigation-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-left: 28px;
}

.user-navigation {
  display: flex;
  align-items: center;
  max-height: 64px;
}

.navigation-list.user-navigation {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  max-height: 64px;
}

.navigation-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.navigation-link {
  margin-right: 32px;
  text-decoration: none;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: black;
  margin: 0;
  display: inline-block;
  padding: 20px 16px;
  max-height: 64px;
}
.user-navigation .navigation-link {
  padding: 22px 12px;
  margin: 0;
}


.navigation-list.user-navigation .navigation-item:last-child {
  background: #756157;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 35px;
  margin-left: 20px;
}

.navigation-link-button {
  text-decoration: none;
  color: white;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

.hero-block {
  background-image: url(/images/index-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 51px 371px 82px 371px;
  position: relative;
  height: 100%;
}

.logo-welcome {
  display: block;
  width: auto;
}

.hero-divider {
  position: absolute;
  bottom: 0;
}
.info-container {
  width: 1200px;
  height: 261px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 485px;
  margin-bottom: 21px;
}

.info-title {
  display: block;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}

.info-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}
.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-item-container {
  min-height: 181px;
  width: 230px;
  padding: 102px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.advantages-item-wide {
  display: flex;
  background-color: #82B3D3;
}

.advantages-list li:nth-child(2),
.advantages-list li:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
}

.rectangle {
  margin-top: 0;
  margin: 0;
  padding: 0;
}
.rectangle.white {
  background: rgba(255, 255, 255, 0.3);
}
.rectangle.gray {
  background: rgba(0, 0, 0, 0.3);
}
.advantages-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  color: #333333;
  text-align: center;
}

.services-info {
  text-align: center;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.services-info-title {
  font-family: "PT Sans";
  text-transform: uppercase;
  margin-top: 64px;
  margin-bottom: 0;
}

.sercices-description-info {
  text-transform: none;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-top: 20;
  margin-bottom: 0;
  color: #333333;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.services-item {
  list-style-type: none;
  text-align: center;
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  justify-content: center;
}
.services-icon {
  margin-top: 0;
  margin-bottom: 30px;
}
.services-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.services-description {
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 0;
}

.appointment {
  height: 406px;
  text-align: center;
}

.appointment-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.appointment-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscription,
.inner-header {
  background-image: url(/images/catalog-background.jpeg);
  width: 1200px;
  height: 408px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.subscription-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.subscription-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}
.inner-header {
  display: flex;
}
.inner-header {
  color: white;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
}

.product-card-link,
.button.button-brown,
.button.button-blue {
  text-decoration: none;
  color: black;
}

.main-inner,
.page-footer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.filter {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  padding: 0;
  gap: 10px;
  width: 114px;
  height: 21px;
}

.catalog-filter {
  display: flex;
  width: 1060px;
  height: 160px;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.catalog-filter-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.sort {
  max-width: 1060px;
  margin: 50px 70px 40px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-result {
  margin: 0;
  padding: 0;
}

.search-result {
}

.select-control {
  margin-right: 0;
}

.view-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-width: 160px;
  margin-left: auto;
}

.view-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-change-view {
  border: 2px solid #000000;
  border-radius: 4px;
  margin: 0;
  padding: 14px 12px;
}
.main-page-catalog {
  max-width: 1060px;
  margin: 0 auto;
}
.product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 16px;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  align-items: stretch;
  padding: 20px;
}

.product-card-title {
  margin: 0;
  padding: 0;
}
.product-card-image {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.product-card-title {
  margin-top: 16px;
  padding: 0;
}

.product-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 16px;
  padding: 0;
}

.product-type {
  margin: 0;
  padding: 0;
}

.product-card-price {
  margin: 0;
  padding: 0;
}

.button-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 16px;
  padding: 0;
}

.button-card-item {
  margin: 0;
  padding: 0;
}

.raiting-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  padding: 0;
}

.raiting-stars {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.raiting-info {
  margin: 0;
  padding: 0;
}
.pagination {
  width: 1060px;
}
.pagination-list {
  display: flex;
  list-style-type: none;
}

.pagination-item.current {
  width: 60px;
  height: 60px;
  background: #f2f2f2;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  color: black;
}
.pagination-item {
  width: 60px;
  height: 60px;
  background: #82b3d3;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.pagination-link.pagination-current {
  color: rgb(0, 0, 0);
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-link {
  color: white;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.page-footer {
  display: block;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  max-width: 142px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.footer-contacts-address-phone {
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 0;
  color: black;
  margin: 0;
  padding: 0;
}
