@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: white;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.shadow {
  margin: 0 auto;
  box-shadow: 0 0 40px rgb(0, 0, 0);
}

.visually-hidden {
  display: none;
}

.logo {
  position: relative;
  z-index: 1;
  height: 64px;
}

.logo-header {
  display: block;
}

.page-header {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
}

.page-header-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 0 70px;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.navigation-list {
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 100px 114px 125px;
  grid-template-rows: 64px;
  padding: 0 0 0 30px;
}

.user-navigation {
  display: flex;
  align-items: center;
}

.navigation-list.user-navigation {
  display: grid;
  grid-template-columns: 44px 44px 180px;
  grid-template-rows: 64px;
  padding: 0;
}

.navigation-item {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-link {
  text-decoration: none;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.user-navigation .navigation-link {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0;
}

.button {
  background: rgba(117, 97, 87, 1);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation-item {
  margin-left: 20px;

  margin: 0;
  justify-content: center;
  align-items: center;
}

.navigation-item.button {
  padding: 8px 0;
  margin-left: 20px;
}

.button.navigation-item-link-button {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-block {
  background-image: url(/images/index-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 51px 371px 82px 371px;
  position: relative;
  height: 100%;
}

.logo-welcome {
  display: block;
  width: auto;
}

.hero-divider {
  position: absolute;
  bottom: 0;
}

.info-container {
  width: 1200px;
  height: 261px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 485px;
  margin-bottom: 21px;
  gap: 25px;
}

.info-title {
  display: block;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.info-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
  padding: 0;
  margin: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}


.advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 385px 385px 385px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark-blue {
  background: rgba(130, 179, 211, 1);
}

.blue {
  background: rgba(131, 179, 211, 0.2);
}

.light-blue {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.advantages-title {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.rectangle.white {
  background: rgba(255, 255, 255, 0.3);
}

.rectangle.gray {
  background: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-1 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.advantages-item-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}


.services-info {
  padding: 64px auto;
}

.services-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  gap: 20px;
  padding-top: 64px;
  padding-bottom: 64px
}

.services-info-title {
  font-family: "PT Sans";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0
}

.sercices-description-info {
  text-transform: none;
  font-size: 22px;
  line-height: 26px;
  color: rgba(51, 51, 51, 1);
  margin: 0
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 385px;
  padding: 0;
  margin: 0;
}

.services-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.services-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 30px;
  margin-bottom: 81px;
}

.services-icon {
  margin: 0;
}

.services-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.services-description {
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.appointment {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
}

.appointment-text-container {
  display: block;
}

.appointment-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.appointment-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
}

.button.button-all-hotel {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.subscription {
  background-image: url(/images/Subscribe.jpg);
  text-align: center;
  margin: 0;
  padding: 96px 258px 104px 258px;
}

.subscription-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.subscription-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  color: rgba(255, 255, 255, 1);
}

.subscription-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  color: rgba(255, 255, 255, 1);
}

.subscription-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 54px;
}

.subscription-form {
  display: flex;
  border-radius: 4px;
  width: 100%;
  outline: none;
  border: none;
}

.button.subscription-button {
  padding: 8px 50px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: rgba(130, 179, 211, 1);
  border: none;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  outline: none;

}

input[type="email" i] {
  display: block;
  padding: 14px 0 14px 20px;
  background-color: rgba(242, 242, 242, 1);
  ;
  width: 100%;
  border-radius: 4px 0 0 4px;
  outline: none;
  border: none;
}

.email {
  width: 100%;
}

.inner-header {
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.inner-header {
  color: white;
  padding: 0;
  margin: 0;
  background-image: url(/images/filter-background.jpg);
  width: 100%;
  height: 412px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.product-card-link,
.button.button-brown,
.button.button-blue {
  text-decoration: none;
  color: black;
}

.main-inner,
.page-footer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

}

.filter {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: left;
  padding: 35px 70px 70px 70px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  padding: 0;
  gap: 10px;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  ;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.filter-container {
  display: flex;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 160px;
  margin: 0;
  padding: 0;
}

.catalog-group-type {
  display: flex;
  gap: 70px;
}

.catalog-filter-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.catalog-filter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  margin-bottom: 32px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0;
}

.control-input {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  margin-right: 16px;
  outline: none;
  border: none;
}

input[type="radio" i] {
  outline: none;
  border: none;
}

.control {
  display: flex;
  border-radius: 50%;
}

.catalog-filter-price-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 70px;
}

.range-price-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-range-price-item {}

.value-price-list {
  display: grid;
  grid-template-columns: 143px 143px;
  padding: 0;
  margin-bottom: 36px;
  gap: 2px;
  list-style-type: none;
}

.value-price-item.min {
  display: block;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 12px 20px;

}

.value-price-item.max {
  display: block;
  border-radius: 0 4px 4px 0;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 12px 20px;
}

.value-price-item .range {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

.range {
  width: 100%;
}

.button-submit-filter {
  list-style-type: none;
  display: grid;
  grid-template-columns: 191px;
  grid-template-rows: 36px 36px;
  padding: 0;
  gap: 32px;
  margin: 0;
  margin-top: 56px;

}

.blue-submit {
  width: 100%;
  height: 100%;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  outline: 0;
  border: 0;
  background-color: rgba(130, 179, 211, 1);
}

.button-reset {
  width: 100%;
  height: 100%;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  outline: 0;
  border: 0;
  background-color: #00000000;
  margin-bottom: 0;
}



.sort {
  max-width: 1060px;
  margin: 50px 70px 40px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-result {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  margin-right: 0;
}

.view-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-width: 160px;
  margin-left: auto;
}

.view-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-change-view {
  border: 2px solid #000000;
  border-radius: 4px;
  margin: 0;
  padding: 14px 12px;
}

.main-page-catalog {
  max-width: 1060px;
  margin: 0 auto;
}


.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 438px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 16px;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  align-items: stretch;
  padding: 20px;
}

.product-card-title {
  margin: 0;
  padding: 0;
}

.product-card-image {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.product-card-title {
  margin-top: 16px;
  padding: 0;
}

.product-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 16px;
  padding: 0;
}

.product-type {
  margin: 0;
  padding: 0;
}

.product-card-price {
  margin: 0;
  padding: 0;
}

.button-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 16px;
  padding: 0;
}

.button-card-item {
  margin: 0;
  padding: 0;
}

.raiting-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  padding: 0;
}

.raiting-stars {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.raiting-info {
  margin: 0;
  padding: 0;
}

.rectangle-catalog {
  border-bottom: 2px;
  border-color: black;
  width: 100%;
  margin-top: 40px;
}

.pagination {
  margin-top: 40px;
  width: 1060px;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.pagination-item.current {
  width: 60px;
  height: 60px;
  background: #f2f2f2;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px 0 8px;
  color: black;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background: #82b3d3;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px 0 8px;
}

.pagination-link.pagination-current {
  color: rgb(0, 0, 0);
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-link {
  color: white;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  display: block;
}

.subscription-catalog {
  text-align: center;
  margin: 0;
  padding: 96px 258px 104px 258px;
}

.subscription-catalog .subscription-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.subscription-catalog .subscription-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  color: rgba(0, 0, 0, 1);
}

.subscription-catalog .subscription-description {
  color: rgba(0, 0, 0, 1);
}


.email {
  width: 100%;
}

.page-footer {
  display: block;
  padding: 40px 70px 30px 70px;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
  padding: 5px 0;
}

.footer-social-container {
  display: grid;
  grid-template-columns: 142px;
  grid-template-rows: 40px;

}

.footer-social-list {
  list-style-type: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.footer-social-item {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-contacts {
  display: flex;
  padding: 0;
  align-items: end;
  justify-content: center;
}


.footer-contacts-address-phone {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  text-align: end;
  text-transform: uppercase;
  padding: 0;
}

.footer-logo {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.footer-logo-img {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}
